/* VARIABLES */

:root {
  --color-fg: #000;
  --color-bg: #fff;
  --color-highlight: hsl(0, 0%, 97%);
  --color-select: hsl(0, 0%, 93%);
}

/* MEDIA QUERIES */

@container body (width < 1200px) {

  .taskProject,
  .taskTimestamp {
    display: none;
  }
}

@container body (width < 1000px) {
  .taskBody {
    display: none;
  }
}


/* HTML ELEMENT STYLES */

html,
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;

  height: 100vh;

  background-color: var(--color-bg);

  container-type: inline-size;
  container-name: body;
}

h1 {
  padding: 10px 20px;
  margin: 0;

  background-color: var(--color-fg);
  color: var(--color-bg);

  font-size: unset;
  white-space: nowrap;
}

h2 {
  all: unset;
  white-space: nowrap;
  font-weight: bold;
}

p {
  all: unset;
  white-space: nowrap;
}

span {
  white-space: nowrap;
}

button {
  all: unset;

  background-color: var(--color-highlight);
  border: 2px solid var(--color-highlight);
}

button:hover {
  border: 2px solid var(--color-select);
}

form {
  height: 100%;
}

input {
  border: 2px solid var(--color-highlight);
}

textarea {
  height: 100%;
  word-wrap: break-word;
  resize: none;

  border: 2px solid var(--color-highlight);
}

:focus-visible {
  outline: none;
  border: 2px solid var(--color-select);
}

ul {
  all: unset;
}

li {
  padding: 10px 20px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  border: 2px solid var(--color-bg);
  margin: 5px 0 0 0;
}

li:hover {
  background-color: var(--color-highlight);
  border: 2px solid var(--color-highlight);
}

li[data-selected="true"] {
  font-weight: bold;
}

li[data-selected="true"]::after {
  content: " →";
}


/* ROOT STYLES */

#root {
  display: grid;
  grid-template-columns: minmax(auto, 275px) auto max-content;

  padding: 5px;
  gap: 5px;

  box-sizing: border-box;
  height: 100%;
}

#root>div {
  display: flex;
  flex-direction: column;

  min-width: 0;

  overflow-y: scroll;
}


/* PROJECTS */


/* TASKS */
.task {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 0 0;
  gap: 5px;
}

.task>* {
  padding: 10px 20px;

  background-color: var(--color-highlight);
  border: 2px solid var(--color-highlight);
}

.task>*:focus-within,
.task>div:hover,
.task>div:hover~span,
.task>div:hover~button,
.task>button:hover,
.taskProject:hover {
  background-color: var(--color-select);
  border: 2px solid var(--color-select);
}

/* TASKS: FLEXING WITH FLEX... */

.task>div {
  display: flex;
  flex: 1;

  gap: 10px;
  min-width: 0;
}

.taskTitle {
  flex: 0 1 auto;

  overflow: hidden;
  text-overflow: ellipsis;
}

.taskBody {
  flex: 1;

  overflow: hidden;
  text-overflow: ellipsis;
}

.taskProject {
  flex: 0 0 auto;
  max-width: 275px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.taskTimestamp {
  flex: 0;
}


/* EDITOR */

#edit {
  display: flex;
  flex-direction: column;
}

#edit>* {
  font: inherit;

  padding: 10px 20px;
  margin: 5px 0 0 0;
}

#edit>input:first-of-type {
  font-weight: bold;
}

#edit>div {
  display: flex;

  padding: 0;
  gap: 5px;
}

#edit>div>* {
  padding: 10px 20px;
}